  <%= form_with(model:comment, url:action_path, local:true, method: :post) do |form| %>
  <% if comment.errors.any? %>
    <h4><%= pluralize(comment.errors.count, "error") %> prohibited this user from being saved:</h4>
    <% comment.errors.full_messages.each do |message| %>
      <ul>
        <li><%= message %></li>
      </ul>
    <% end %>
  <% end %>
  <div class ='form-group'>
    <%= form.text_area :content, class:'form-control', rows:3, placeholder:'Write a comment!'%>
  </div>
  <div hidden>
    <%= form.number_field :article_id, value:article_id %>
  </div>
  <div hidden>
    <%= form.number_field :user_id, value:current_user.id %>
  </div>
  <%= form.submit 'comment', class:'btn btn-default' %>
<% end %>
