<p class='text-success'><%= notice %></p>
<p class="text-danger"><%= alert %></p>
<div class="signup-container">
  <h3>Signup</h3>
  <%= form_with(model:@user, url:signup_path, local:true) do |form| %>
    <div id="error_explanation">
      <% if @user.errors.any? %>
        <h4 class='text-danger error_heading'><span class="glyphicon glyphicon-alert text-danger"></span>
          <%= pluralize(@user.errors.count, "error") %> have occurred.</h4>
        <ul class="signup-error">
          <% @user.errors.full_messages.each_with_index do |message, index| %>
            <li class="text-danger">
              <%= index + 1 %>) <%= message %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.text_field :username, class:'form-control', placeholder:'Username'%>
    </div>
    <div class="form-group">
      <%= form.password_field :password, class:'form-control', placeholder:'Password'%>
    </div>
    <div class="form-group">
      <%= form.password_field :password_confirmation, class:'form-control', placeholder:'Confirm Password'%>
    </div>
    <div class="form-group">
      <%= form.submit 'Signup', class:'btn btn-default' %>
    </div>
    <div class="form-group">
      <% link_to 'Forget Password?', class:"ForgetPwd" %>
    </div>
  <% end %>
</div>


<style>
.signup {
  background-color: white;
}
h3{
  text-align: center;
  color: #333;
}

.signup-container form{
  padding: 3%;
}
.btnSubmit {
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  border: none;
  cursor: pointer;
}
.login-form .btnSubmit{
  font-weight: 600;
  color: #fff;
  background-color: #0062cc;
}
.ForgetPwd{
  color: #0062cc;
  font-weight: 600;
  text-decoration: none;
}
.signup-error li{
  list-style: none;
  text-align:left;
}
.error_heading{
  text-align:left;
}
 </style>
