<div class="article">
  <h2><span>Contact</span></h2>
  <div class="clr"></div>
  <p>You can find more of my free template designs at my website. For premium commercial designs, you can check out DreamTemplate.com.</p>
</div>
<div class="article">
  <h2><span>Send us</span> mail</h2>
  <%= form_with do |form| %>
    <div class = 'form-group'>
      <label>Name (Required)</label>
      <%= form.text_field :name, class:'form-control' %>
    </div>
    <div class = 'form-group'>
      <label>Email Address (Required)</label>
      <%= form.email_field :email, class:'form-control' %>
    </div>
    <div class = 'form-group'>
      <label>Message (Required)</label>
      <%= form.text_area :message, class:'form-control', id:'contactMessage' %>
    </div>
    <%= form.submit 'submit', class:'btn btn-primary' %>
  <% end %>
</div>
<style>
#contactMessage {
  height:150px;
}
.contact {
  background-color: white;
}
</style>
