
<!-- START PAGE SOURCE -->
<!-- notice message -->
<p class="text-success"><%= notice %></p>
<p class="text-danger"><%= alert %></p>

<% @articles.each do |article| %>
  <div class="article">
    <h3><%= article.title %></h3>
    <p>
      <span class="date">March 16, 2018</span> &nbsp;|&nbsp; Posted by
      <a href="#"><%= User.find(article.user_id).username %></a>
    </p>
    <p class='article-content'><%= article.content %></p>
    <p class="spec">
      <%= link_to 'read more..', article_show_path(article.id) %>
      &nbsp;|&nbsp;<%= link_to "comments (#{Comment.where(article_id: article.id).count})", article_show_path(article.id) %>
      <% if current_user && current_user.id == article.user_id %>
         &nbsp;|&nbsp;<%= link_to "edit", article_edit_path(article.id) %>
         &nbsp;|&nbsp;<%= link_to "delete", article_delete_path(article.id), method: :delete, data: {confirm:'Are you sure?'}%>
      <% end %>
    </p>
  </div>
<% end %>
<%= will_paginate @articles %>

<style>
.home {
  background-color: white;
}
.article-content {
  max-height:100px;
  overflow:hidden;
}
</style>
