<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'%>
  </head>

  <body>
<div class='container'>
  <div class="logo">
    <h1>
      <%= link_to home_path do %>
        <span>Blog</span>App<p>Write a Blog</p>
      <% end %>
    </h1>
  </div>
</div>

<div class = 'container-fluid' id = 'nav'>
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to 'Home', home_path, class:"navbar-brand active" %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><%= link_to 'Add Blog', add_blog_path %></li>
            <li><%= link_to 'About', about_path %></li>
            <li><%= link_to 'Contact', contact_path %></li>
            <li><%= link_to 'Support', support_path %></li>
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to register_path do %> 
                <span class="glyphicon glyphicon-user"></span> Sign Up
              <% end %>
            </li>
            <li>
              <%= link_to login_path do %> 
                <span class="glyphicon glyphicon-log-in"></span> Login
              <% end %>
            </li>
          </ul>
      
          <form class="navbar-form navbar-left" action="/action_page.php">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit">
                  <i class="glyphicon glyphicon-search"></i>
                </button>
              </div>
            </div>
          </form>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>

<div class = 'container' id = 'mainContainer'>
  <div class = 'row'>
    <% #content %>
    <div class = 'col-sm-9' id = 'content'>
      <%= yield %>
    </div>
     <% #sidebar %>
    <div class = 'col-sm-3'>
      <div class="gadget">
        <h3 class="star"><span>Sidebar</span> Menu</h3>
        <div class="clr"></div>
        <ul class="sb_menu">
          <li><a href="#">Home</a></li>
          <li><a href="#">TemplateInfo</a></li>
          <li><a href="#">Style Demo</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Archives</a></li>
        </ul>
      </div>
      <div class="gadget">
        <h3 class="star"><span>Sponsors</span></h3>
        <div class="clr"></div>
        <ul class="ex_menu">
          <li><a href="#">Lorem ipsum dolor</a><br />
            Donec libero. Suspendisse bibendum</li>
          <li><a href="#">Dui pede condimentum</a><br />
            Phasellus suscipit, leo a pharetra</li>
          <li><a href="#">Condimentum lorem</a><br />
            Tellus eleifend magna eget</li>
          <li><a href="#">Fringilla velit magna</a><br />
            Curabitur vel urna in tristique</li>
          <li><a href="#">Suspendisse bibendum</a><br />
            Cras id urna orbi tincidunt orci ac</li>
          <li><a href="#">Donec mattis</a><br />
            purus nec placerat bibendum</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<% #footer %>
<div class = 'container footer'>
  <div class="row fbg">
    <div class="col-sm-4">
      <h2><span>About</span></h2>
      <img src="images/white.jpg" width="56" height="56" alt="" />
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec libero. Suspendisse bibendum. Cras id urna. Morbi tincidunt, orci ac convallis aliquam, lectus turpis varius lorem, eu posuere nunc justo tempus leo. llorem, eu posuere nunc justo tempus leo. Donec mattis, purus nec placerat bibendum. <a href="#">Learn more...</a></p>
    </div>
    <div class="col-sm-4">
      <h2><span>Lorem Ipsum</span></h2>
      <ul class="sb_menu">
        <li><a href="#">consequat molestie</a></li>
        <li><a href="#">sem justo</a></li>
        <li><a href="#">semper</a></li>
        <li><a href="#">magna sed purus</a></li>
        <li><a href="#">tincidunt</a></li>
      </ul>
    </div>
    <div class="col-sm-4">
      <h2>Contact</h2>
      <p>Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue.</p>
      <p><a href="#">support@yoursite.com</a></p>
      <p>+1 (123) 444-5677<br />
        +1 (123) 444-5678</p>
      <p>Address: 123 TemplateAccess Rd1</p>
    </div>
  </div>
</div>

<% #footer link %>
<div class="container foot">
  <span class="lf">Copyright &copy; 2010 <a href="#">SiteName</a> - All Rights Reserved</span>
  <span class="rf">Design by <a href="http://www.coolwebtemplates.net/">Cool Website Templates</a></span>
</div>
<!-- END PAGE SOURCE -->

<style>
 body {
   background-color:#deddd7;
 }
 .logo {
   margin-left:50px;
  }
  .logo a {
    text-decoration:none;
    color:#fff;
  }
  .logo p {
    font-size:16px;
  }
  .navbar {
    background-color:lightgrey;
    border:none;
  }
  #nav {
    background-color:lightgrey;
    width:80%;
  }
  
  #mainContainer {
    background-color:white;
    width:80%;
    /* box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19); */
  }
  #mainContent {
    width:100%;
  }
  .foot {
    padding:10px;
    width:80%;
  }
  .foot .rf{
    float:right;
  }
  .footer {
    width:80%;
    background-color:white;
    margin-top:30px;
  }
</style>
</body>
</html>
