<!DOCTYPE html>
<html>
  <head>
    <title>BlogApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'%>

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'%>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js'%>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<% #logo %>
<div class='container'>
  <div class="logo">
    <h1>
      <%= link_to home_path do %>
        <span>Blog</span>App<p>Write a Blog</p>
      <% end %>
    </h1>
  </div>
</div>

<% #navbar %>
<%= render 'layout_temp/nav' %>

<% #sidebar %>
<%= render 'layout_temp/sidebar' %>

<% #footer %>
<%= render 'layout_temp/footer' %>

<% #footer link %>
<div class="container foot">
  <span class="lf">Copyright &copy; 2021 <a href="#">BlogApp</a> - All Rights Reserved</span>
  <span class="rf">Design by <a href="https://www.linkedin.com/in/abhishek-singh-b5b399203/">Abhishek Singh</a></span>
</div>

<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
